flow.json
[{"id":"a95ee63d.be3678","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b615d1b2.58708","type":"tab","label":"Ui Landing","disabled":false,"info":""},{"id":"663c27b0.e97548","type":"tab","label":"Fundamentus","disabled":false,"info":""},{"id":"79116bc0.031274","type":"ui_tab","z":"a95ee63d.be3678","name":"Landing","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d4a1264b.bdc5f8","type":"ui_group","z":"a95ee63d.be3678","name":"Group 1","tab":"54aa62ba.57bf3c","order":1,"disp":false,"width":"32","collapse":false},{"id":"acd90c2a.41911","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f07159ac.5fc0f8","type":"ui_group","name":"Group 1","tab":"9e69bc57.dd606","order":1,"disp":false,"width":"32","collapse":false},{"id":"9e69bc57.dd606","type":"ui_tab","name":"Landing","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"870782ae.d531c","type":"ui_tab","name":"Fundamentus (filtered)","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"51f50962.4bc478","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7963295f.aa30c8","type":"ui_group","name":"Group1","tab":"870782ae.d531c","order":1,"disp":false,"width":"32","collapse":false},{"id":"6825de81.ffaff","type":"ui_tab","name":"Landing","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2723be6d.a35e52","type":"ui_group","name":"Group 1","tab":"6825de81.ffaff","order":1,"disp":false,"width":"32","collapse":false},{"id":"219029b.3c72ed6","type":"http request","z":"663c27b0.e97548","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://www.fundamentus.com.br/resultado.php","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":160,"wires":[["ce7b03d5.3d8b7"]]},{"id":"26e41008.9698c","type":"debug","z":"663c27b0.e97548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"ce7b03d5.3d8b7","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"table","ret":"html","as":"multi","x":490,"y":220,"wires":[["94cfd210.1bb7b","3a1459aa.f13156","2b31d0cf.ebe5c"]]},{"id":"789b5120.8fd1c","type":"function","z":"663c27b0.e97548","name":"","func":"let data =msg.payload\n\nmsg.headers = {};\n\nmsg.headers['Accept'] =  'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'\n//msg.headers['Accept-Encoding'] = 'gzip, deflate'\nmsg.headers['Accept-Language'] = 'en,en-US;q=0.9,pt-BR;q=0.8,pt;q=0.7'\n//msg.headers['Cache-Control'] = 'max-age=0'\n//msg.headers['Connection'] = 'keep-alive'\nmsg.headers['Content-Type'] =  'application/x-www-form-urlencoded'\nmsg.headers['Cookie']= '__cfduid=d9bfd324d77e286ed3747adca08281d401610907005; _fbp=fb.2.1610907015822.457488293; __utmc=138951332; PHPSESSID=f1de49650be2f2bc91582e3570db9080; __utmz=138951332.1611333660.4.3.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=(not%20provided); __utma=138951332.167960548.1610907016.1611434554.1611494402.12; __utmt=1; __utmb=138951332.6.10.1611494402'\nmsg.headers['Host']= 'www.fundamentus.com.br'\nmsg.headers['Origin']= 'http://www.fundamentus.com.br'\nmsg.headers['Referer']= 'http://www.fundamentus.com.br/buscaavancada.php'\n//msg.headers['Upgrade-Insecure-Requests']= '1'\nmsg.headers['User-Agent']= 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["219029b.3c72ed6","ec6dac83.c7c96"]]},{"id":"d52cb0c7.c446","type":"function","z":"663c27b0.e97548","name":"Form Data","func":"let data = {\n'pl_min': null,\n'pl_max': null,\n'pvp_min': null,\n'pvp_max': null,\n'psr_min': null,\n'psr_max': null,\n'divy_min': null,//0.01,\n'divy_max': null,\n'pativos_min': null,\n'pativos_max': null,\n'pcapgiro_min': null,\n'pcapgiro_max': null,\n'pebit_min': null,\n'pebit_max': null,\n'fgrah_min': null,\n'fgrah_max': null,\n'firma_ebit_min': null,\n'firma_ebit_max': null,\n'firma_ebitda_min': null,\n'firma_ebitda_max': null,\n'margemebit_min': null,\n'margemebit_max': null,\n'margemliq_min': null,\n'margemliq_max': null,\n'liqcorr_min': null,\n'liqcorr_max': null,\n'roic_min': null,\n'roic_max': null,\n'roe_min': null,\n'roe_max': null,\n'liq_min': null,\n'liq_max': null,\n'patrim_min': null,\n'patrim_max': null,\n'divbruta_min': null,\n'divbruta_max': null,\n'tx_cresc_rec_min': null,\n'tx_cresc_rec_max': null,\n'setor': null,\n'negociada': 'ON',\n'ordem': 1,\n'x': 37,\n'y': 18}\n\nmsg.payload = data;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":120,"wires":[["789b5120.8fd1c"]]},{"id":"ec6dac83.c7c96","type":"debug","z":"663c27b0.e97548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":220,"wires":[]},{"id":"36c2075.56d52f8","type":"ui_button","z":"663c27b0.e97548","name":"","group":"7963295f.aa30c8","order":1,"width":"5","height":"1","passthru":false,"label":"refresh info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":340,"wires":[["2b93755b.cf538a","87239401.009ab8"]]},{"id":"3a1459aa.f13156","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"thead","ret":"html","as":"multi","x":710,"y":300,"wires":[["26e41008.9698c","b66af71e.6eb9e8"]]},{"id":"b66af71e.6eb9e8","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"multi","x":850,"y":340,"wires":[["d72dc867.fa55f8"]]},{"id":"257d2f52.e212b","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"tbody","ret":"html","as":"multi","x":710,"y":420,"wires":[["cc8f8673.e02b48","619673a0.e8158c"]]},{"id":"94cfd210.1bb7b","type":"debug","z":"663c27b0.e97548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":220,"wires":[]},{"id":"619673a0.e8158c","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"multi","x":790,"y":520,"wires":[["24abb0db.a95b4","c06ecb0d.750678"]]},{"id":"cc8f8673.e02b48","type":"debug","z":"663c27b0.e97548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"4a61c3cf.a65f7c","type":"function","z":"663c27b0.e97548","name":"","func":"let tableColumns = msg.payload\n\nflow.set(\"tableColumns\", tableColumns);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":340,"wires":[["9b97b51a.0de408","411a7d.088eb584"]]},{"id":"2b93755b.cf538a","type":"function","z":"663c27b0.e97548","name":"initialize","func":"flow.set(\"tableRows\", []);\nflow.set(\"tableColumns\",[])\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":80,"wires":[["d52cb0c7.c446"]]},{"id":"625fe207.f868dc","type":"inject","z":"663c27b0.e97548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"21600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":20,"wires":[["2b93755b.cf538a"]]},{"id":"24abb0db.a95b4","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"text","as":"single","x":930,"y":600,"wires":[["b0d6e90f.7e0458"]]},{"id":"c06ecb0d.750678","type":"debug","z":"663c27b0.e97548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":520,"wires":[]},{"id":"d72dc867.fa55f8","type":"html","z":"663c27b0.e97548","name":"","property":"payload","outproperty":"payload","tag":"th","ret":"text","as":"single","x":990,"y":340,"wires":[["4a61c3cf.a65f7c"]]},{"id":"9b97b51a.0de408","type":"debug","z":"663c27b0.e97548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":340,"wires":[]},{"id":"2b31d0cf.ebe5c","type":"delay","z":"663c27b0.e97548","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":420,"wires":[["257d2f52.e212b"]]},{"id":"b0d6e90f.7e0458","type":"function","z":"663c27b0.e97548","name":"","func":"function convert(str) {\n    if (str.includes(\",\"))\n    {\n        str = str.replace(',','.')\n        if (str.includes(\"%\"))\n        {\n            str = str.replace('%','')\n            str = parseFloat(str)\n            str= str/100.0\n        }\n        else{\n            str = parseFloat(str)\n        }\n    }\n  return str    \n}\n\n\nlet tableColumns = flow.get(\"tableColumns\");\nlet obj = {}\n\n\nfor (i = 0; i < tableColumns.length; i++)\n{\n    obj[tableColumns[i]] = convert(msg.payload[i])\n}\n\n//parseFloat(str.replace(',','.')\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":640,"wires":[["f7c686ee.dbaff8"]]},{"id":"492c99af.cb5e28","type":"debug","z":"663c27b0.e97548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":640,"wires":[]},{"id":"c983e461.2a4c68","type":"ui_table","z":"663c27b0.e97548","group":"7963295f.aa30c8","name":"Details","order":8,"width":"32","height":"10","columns":[],"outputs":1,"cts":true,"x":1370,"y":920,"wires":[["856e3eed.127ab","a29a0913.53e958"]]},{"id":"f7c686ee.dbaff8","type":"function","z":"663c27b0.e97548","name":"add factors","func":"let tableRows = flow.get('tableRows')\n\ntableRows.push(msg.payload)\n\n//flow.set('tableRows',tableRows)\n\n\n\nfor (i = 0; i < tableRows.length; i++)\n{\n    row = tableRows[i] \n    tableRows[i].factorSeba =Math.abs(\n                                (1+row[\"DivYield\"])^5 *\n                                (1+row[\"Mrg Liq\"])^5 * \n                                (1+row[\"Cresc Rec 5a\"])^5 *\n                                (1/(row[\"DivBrut/Patrim\"]+0.1)) *\n                                (1/(row[\"P/VP\"]+0.1))\n                                ) *\n                                Math.sign(row[\"Mrg Liq\"])\n}\n\nfor (i = 0; i < tableRows.length; i++)\n{\n    row = tableRows[i] \n    tableRows[i].factorLuis = (100000*row[\"DivYield\"] *\n                                       row[\"Mrg Liq\"])/ \n                                       //row[\"Cresc Rec 5a\"])/\n                                       ((row[\"DivBrut/Patrim\"]+0.0001)*(row[\"P/VP\"])+0.0001)\n}\n\nflow.set('tableRows', tableRows)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":700,"wires":[["492c99af.cb5e28"]]},{"id":"411a7d.088eb584","type":"function","z":"663c27b0.e97548","name":"fix column names","func":"let tableColumns = flow.get('tableColumns')\n\ntableColumns[1] = \"Cotacao\"\ntableColumns[5] = \"DivYield\"\ntableColumns[7] = \"P/CapGiro\"\ntableColumns[9] = \"P/Ativ CircLiq\"\n\ntableColumns[13] = \"Mrg Liq\"\ntableColumns[14] = \"Liq Corr\"\n\ntableColumns[17] = \"Liq2meses\"\ntableColumns[18] = \"Patrim Liq\"\ntableColumns[19] = \"DivBrut/Patrim\"\ntableColumns[20] = \"Cresc Rec 5a\"\n\nflow.set('tableColumns',tableColumns)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":400,"wires":[[]]},{"id":"8b070cf9.76d04","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"Internacional","order":1,"width":0,"height":0,"format":" <h1>Internacional</h1>\n <ul>\n    <li> <a href=\"https://www.morningstar.com/markets\" target=\"_blank\" rel=\"noopener noreferrer\">morningstar.com</a> </li>\n    <li> <a href=\"https://www.investing.com/indices/major-indices\" target=\"_blank\" rel=\"noopener noreferrer\">investing.com major-indices</a> </li>\n    <li> <a href=\"https://www.investing.com/indices/volatility-s-p-500\" target=\"_blank\" rel=\"noopener noreferrer\">investing.com WIX</a> </li>\n </ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":320,"wires":[[]]},{"id":"7822bfe7.51b7","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"Brasil","order":3,"width":0,"height":0,"format":" <h1>Brasil</h1>\n <ul>\n    <li> <a href=\"https://www.investing.com/indices/bovespa\" target=\"_blank\" rel=\"noopener noreferrer\">investing.com bovespa</a> </li>\n    <li> <a href=\"https://www.tradingview.com/symbols/BMFBOVESPA-IBOV/\" target=\"_blank\" rel=\"noopener noreferrer\">tradingview bovespa/</a> </li>\n    <li> <a href=\"http://www.fundamentus.com.br/\" target=\"_blank\" rel=\"noopener noreferrer\">fundamentus.com.br</a> </li>\n    <li> <a href=\"https://www.oceans14.com.br/\" target=\"_blank\" rel=\"noopener noreferrer\">oceans14.com.br</a> </li>\n </ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":360,"wires":[[]]},{"id":"856e3eed.127ab","type":"debug","z":"663c27b0.e97548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":800,"wires":[]},{"id":"34bac394.b7bd6c","type":"ui_dropdown","z":"663c27b0.e97548","name":"","label":"table filter","tooltip":"","place":"Select option","group":"7963295f.aa30c8","order":2,"width":"8","height":"1","passthru":true,"multiple":false,"options":[{"label":"all stocks","value":"all","type":"str"},{"label":"best stocks","value":"best","type":"str"},{"label":"discounted stocks","value":"discounted","type":"str"},{"label":"debt stocks","value":"debt","type":"str"}],"payload":"","topic":"","x":420,"y":980,"wires":[["31973ee4.2606b2"]]},{"id":"7486138b.30e60c","type":"switch","z":"663c27b0.e97548","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"all","vt":"str"},{"t":"eq","v":"best","vt":"str"},{"t":"eq","v":"discounted","vt":"str"},{"t":"eq","v":"debt","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":930,"y":980,"wires":[["8a47eb9f.2380f8"],["f92e3286.04463"],["3056982c.add8e8"],["e1b5cfb.d75d73"]]},{"id":"31973ee4.2606b2","type":"function","z":"663c27b0.e97548","name":"tableRows","func":"let tableRows = flow.get('tableRows')\n\nmsg.tableRows = tableRows\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":980,"wires":[["7486138b.30e60c","b47d58ae.dcad28"]]},{"id":"8a47eb9f.2380f8","type":"function","z":"663c27b0.e97548","name":"Filtro","func":"let filteredRows = msg.tableRows\n\nmsg.payload = filteredRows\n\nmsg.filteredRows = filteredRows.length\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":920,"wires":[["c983e461.2a4c68","25fa01a6.782e7e","e418cf27.c8bc1"]]},{"id":"f92e3286.04463","type":"function","z":"663c27b0.e97548","name":"Filtro","func":"let filteredRows = []\nlet tableRows = msg.tableRows\n\nfilteredRows = tableRows.filter(function (el) {\n  return el.DivYield >= 0.05 &&  // Dividendos > 5%\n         el[\"Mrg Liq\"] > 0 &&\n         el[\"Cresc Rec 5a\"] > 0 &&\n         el[\"P/VP\"] < 20 &&\n         el[\"DivBrut/Patrim\"] <=1\n});\n\nmsg.payload = filteredRows\nmsg.filteredRows = filteredRows.length\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":960,"wires":[["c983e461.2a4c68","25fa01a6.782e7e","e418cf27.c8bc1"]]},{"id":"e1b5cfb.d75d73","type":"function","z":"663c27b0.e97548","name":"Filtro","func":"let filteredRows = []\nlet tableRows = msg.tableRows\n\nfilteredRows = tableRows.filter(function (el) {\n  return el[\"DivBrut/Patrim\"] > 0;\n});\n\nmsg.payload = filteredRows\nmsg.filteredRows = filteredRows.length\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1040,"wires":[["c983e461.2a4c68","25fa01a6.782e7e","e418cf27.c8bc1"]]},{"id":"25fa01a6.782e7e","type":"ui_text","z":"663c27b0.e97548","group":"7963295f.aa30c8","order":3,"width":"5","height":"1","name":"","label":"rows = ","format":"{{msg.filteredRows}}","layout":"row-left","x":1380,"y":980,"wires":[]},{"id":"a29a0913.53e958","type":"function","z":"663c27b0.e97548","name":"Filtro","func":"let tableRow = []\n\ntableRow[0] = msg.payload\n\nmsg.payload = tableRow\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":740,"wires":[["fe8b0ffb.370ef"]]},{"id":"87239401.009ab8","type":"debug","z":"663c27b0.e97548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":400,"wires":[]},{"id":"3056982c.add8e8","type":"function","z":"663c27b0.e97548","name":"Filtro","func":"let filteredRows = []\nlet tableRows = msg.tableRows\n\nfilteredRows = tableRows.filter(function (el) {\n  return el[\"P/VP\"] >=0 && \n         el[\"P/VP\"] <=1 ;\n});\n\nmsg.payload = filteredRows\nmsg.filteredRows = filteredRows.length\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1000,"wires":[["c983e461.2a4c68","25fa01a6.782e7e","e418cf27.c8bc1"]]},{"id":"32226b0b.7c56b4","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"Crypto","order":4,"width":0,"height":0,"format":" <h1>Crypto</h1>\n <ul>\n    <li> <a href=\"https://www.binance.com/ng/trade/BTC_USDT?layout=pro\" target=\"_blank\" rel=\"noopener noreferrer\">binance.com btcu/sdt</a> </li>\n </ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":400,"wires":[[]]},{"id":"e0d2d1c5.6b74d","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"international widget","order":2,"width":"32","height":"12","format":"<!-- TradingView Widget BEGIN -->\n<div class=\"tradingview-widget-container\">\n  <div class=\"tradingview-widget-container__widget\"></div>\n  <div class=\"tradingview-widget-copyright\"><a href=\"https://www.tradingview.com/markets/\" rel=\"noopener\" target=\"_blank\"><span class=\"blue-text\">Financial Markets</span></a> by TradingView</div>\n  <script type=\"text/javascript\" src=\"https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js\" async>\n  {\n  \"width\": 770,\n  \"height\": 450,\n  \"symbolsGroups\": [\n    {\n      \"name\": \"Indices\",\n      \"originalName\": \"Indices\",\n      \"symbols\": [\n        {\n          \"name\": \"FOREXCOM:SPXUSD\",\n          \"displayName\": \"S&P 500\"\n        },\n        {\n          \"name\": \"FOREXCOM:NSXUSD\",\n          \"displayName\": \"Nasdaq 100\"\n        },\n        {\n          \"name\": \"FOREXCOM:DJI\",\n          \"displayName\": \"Dow 30\"\n        },\n        {\n          \"name\": \"INDEX:NKY\",\n          \"displayName\": \"Nikkei 225\"\n        },\n        {\n          \"name\": \"INDEX:DEU30\",\n          \"displayName\": \"DAX Index\"\n        },\n        {\n          \"name\": \"FOREXCOM:UKXGBP\",\n          \"displayName\": \"FTSE 100\"\n        }\n      ]\n    },\n    {\n      \"name\": \"Commodities\",\n      \"originalName\": \"Commodities\",\n      \"symbols\": [\n        {\n          \"name\": \"CME_MINI:ES1!\",\n          \"displayName\": \"S&P 500\"\n        },\n        {\n          \"name\": \"CME:6E1!\",\n          \"displayName\": \"Euro\"\n        },\n        {\n          \"name\": \"COMEX:GC1!\",\n          \"displayName\": \"Gold\"\n        },\n        {\n          \"name\": \"NYMEX:CL1!\",\n          \"displayName\": \"Crude Oil\"\n        },\n        {\n          \"name\": \"NYMEX:NG1!\",\n          \"displayName\": \"Natural Gas\"\n        },\n        {\n          \"name\": \"CBOT:ZC1!\",\n          \"displayName\": \"Corn\"\n        }\n      ]\n    },\n    {\n      \"name\": \"Bonds\",\n      \"originalName\": \"Bonds\",\n      \"symbols\": [\n        {\n          \"name\": \"CME:GE1!\",\n          \"displayName\": \"Eurodollar\"\n        },\n        {\n          \"name\": \"CBOT:ZB1!\",\n          \"displayName\": \"T-Bond\"\n        },\n        {\n          \"name\": \"CBOT:UB1!\",\n          \"displayName\": \"Ultra T-Bond\"\n        },\n        {\n          \"name\": \"EUREX:FGBL1!\",\n          \"displayName\": \"Euro Bund\"\n        },\n        {\n          \"name\": \"EUREX:FBTP1!\",\n          \"displayName\": \"Euro BTP\"\n        },\n        {\n          \"name\": \"EUREX:FGBM1!\",\n          \"displayName\": \"Euro BOBL\"\n        }\n      ]\n    },\n    {\n      \"name\": \"Forex\",\n      \"originalName\": \"Forex\",\n      \"symbols\": [\n        {\n          \"name\": \"FX:EURUSD\"\n        },\n        {\n          \"name\": \"FX:GBPUSD\"\n        },\n        {\n          \"name\": \"FX:USDJPY\"\n        },\n        {\n          \"name\": \"FX:USDCHF\"\n        },\n        {\n          \"name\": \"FX:AUDUSD\"\n        },\n        {\n          \"name\": \"FX:USDCAD\"\n        }\n      ]\n    }\n  ],\n  \"showSymbolLogo\": true,\n  \"colorTheme\": \"light\",\n  \"isTransparent\": true,\n  \"locale\": \"en\"\n}\n  </script>\n</div>\n<!-- TradingView Widget END -->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":320,"wires":[[]]},{"id":"5c50351d.e57cec","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"Crypto widget","order":4,"width":"32","height":"12","format":"<!-- TradingView Widget BEGIN -->\n<div class=\"tradingview-widget-container\">\n  <div id=\"tradingview_48596\"></div>\n  <div class=\"tradingview-widget-copyright\"><a href=\"https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE\" rel=\"noopener\" target=\"_blank\"><span class=\"blue-text\">BTCUSDT Chart</span></a> by TradingView</div>\n  <script type=\"text/javascript\" src=\"https://s3.tradingview.com/tv.js\"></script>\n  <script type=\"text/javascript\">\n  new TradingView.widget(\n  {\n  \"width\": 980,\n  \"height\": 610,\n  \"symbol\": \"BINANCE:BTCUSDT\",\n  \"interval\": \"D\",\n  \"timezone\": \"Etc/UTC\",\n  \"theme\": \"light\",\n  \"style\": \"1\",\n  \"locale\": \"en\",\n  \"toolbar_bg\": \"#f1f3f6\",\n  \"enable_publishing\": false,\n  \"allow_symbol_change\": true,\n  \"studies\": [\n    \"MACD@tv-basicstudies\"\n  ],\n  \"container_id\": \"tradingview_48596\"\n}\n  );\n  </script>\n</div>\n<!-- TradingView Widget END -->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":400,"wires":[[]]},{"id":"c2f55afd.2ccb88","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"Crypto widget","order":4,"width":"32","height":"10","format":"<!-- TradingView Widget BEGIN -->\n<div class=\"tradingview-widget-container\">\n  <div class=\"tradingview-widget-container__widget\"></div>\n  <div class=\"tradingview-widget-copyright\"><a href=\"https://www.tradingview.com/symbols/BTCUSD/technicals/\" rel=\"noopener\" target=\"_blank\"><span class=\"blue-text\">Technical Analysis for BTCUSD</span></a> by TradingView</div>\n  <script type=\"text/javascript\" src=\"https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js\" async>\n  {\n  \"interval\": \"1h\",\n  \"width\": 425,\n  \"isTransparent\": true,\n  \"height\": 450,\n  \"symbol\": \"BITSTAMP:BTCUSD\",\n  \"showIntervalTabs\": true,\n  \"locale\": \"en\",\n  \"colorTheme\": \"light\"\n}\n  </script>\n</div>\n<!-- TradingView Widget END -->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":440,"wires":[[]]},{"id":"70e3eddd.1cb6c4","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"international widget","order":2,"width":"32","height":"12","format":"<iframe src=\"https://sslecal2.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=week&timeZone=8&lang=1\" width=\"650\" height=\"467\" frameborder=\"0\" allowtransparency=\"true\" marginwidth=\"0\" marginheight=\"0\"></iframe><div class=\"poweredBy\" style=\"font-family: Arial, Helvetica, sans-serif;\"><span style=\"font-size: 11px;color: #333333;text-decoration: none;\">Real Time Economic Calendar provided by <a href=\"https://www.investing.com/\" rel=\"nofollow\" target=\"_blank\" style=\"font-size: 11px;color: #06529D; font-weight: bold;\" class=\"underline_link\">Investing.com</a>.</span></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":320,"wires":[[]]},{"id":"72d736b.700d3c8","type":"ui_template","z":"b615d1b2.58708","group":"2723be6d.a35e52","name":"international widget","order":2,"width":"32","height":"12","format":"<iframe height=\"480\" width=\"650\" src=\"https://ssltvc.forexprostools.com/?pair_ID=44336&height=480&width=650&interval=86400&plotStyle=area&domain_ID=30&lang_ID=12&timezone_ID=10\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1210,"y":320,"wires":[[]]},{"id":"e418cf27.c8bc1","type":"ui_table","z":"663c27b0.e97548","group":"7963295f.aa30c8","name":"Summary","order":7,"width":"26","height":"10","columns":[{"field":"Papel","title":"Papel","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Cotacao","title":"Cotacao","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"DivYield","title":"DivYield","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"P/VP","title":"P/VP","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Mrg Liq","title":"Mrg Liq","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Cresc Rec 5a","title":"Cresc Rec 5a","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"DivBrut/Patrim","title":"DivBrut/Patrim","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"factorSeba","title":"factorSeba","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"factorLuis","title":"factorLuis","width":"6%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1340,"y":820,"wires":[["a29a0913.53e958"]]},{"id":"b47d58ae.dcad28","type":"debug","z":"663c27b0.e97548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":860,"wires":[]},{"id":"55ec8e0b.bc76a","type":"inject","z":"663c27b0.e97548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":700,"wires":[["f7c686ee.dbaff8"]]},{"id":"56fd4d6f.82d8d4","type":"ui_template","z":"663c27b0.e97548","group":"7963295f.aa30c8","name":"URL","order":6,"width":0,"height":0,"format":"<h2>More Info on {{msg.payload}}</h2>\n <ul>\n    <li> <a href=\"https://www.google.com/search?q={{msg.payload}}\" target=\"_blank\" rel=\"noopener noreferrer\">google</a> </li>\n    <li> <a href=\"https://www.tradingview.com/symbols/BMFBOVESPA-{{msg.payload}}/\" target=\"_blank\" rel=\"noopener noreferrer\">tradingview/</a> </li>\n    <li> <a href=\"https://fundamentus.com.br/detalhes.php?papel={{msg.payload}}\" target=\"_blank\" rel=\"noopener noreferrer\">fundamentus</a> </li>\n </ul>\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":920,"wires":[[]]},{"id":"fe8b0ffb.370ef","type":"function","z":"663c27b0.e97548","name":"","func":"let papel = \"\"\n\npapel = msg.payload[0].Papel\n\nmsg.payload = papel\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":740,"wires":[["56fd4d6f.82d8d4","3d76352a.c2d13a"]]},{"id":"3d76352a.c2d13a","type":"debug","z":"663c27b0.e97548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1990,"y":780,"wires":[]},{"id":"45f57b0c.ca4ad4","type":"ui_text_input","z":"663c27b0.e97548","name":"","label":"paper filter","tooltip":"","group":"7963295f.aa30c8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":440,"y":1080,"wires":[[]]}]